<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
  this.shortname = "blog-standard";
  /* -> DELETE BEFORE USE, BUT THIS NEEDS TO BU UPDATED TO THIS FORMAT BEFORE GOING LIVE  this.page.url = "<%= url_for(host: ENV['APPLICATION_HOST']) %>"; */
  this.page.url = blog-standard-christianorourke.c9users.io
  this.page.identifier = 'post-<%= @post.id %>';
  this.page.title = '<%= @post.title %>';  
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://blog-standard.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>