<div class="center">
<%= simple_form_for @post do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="form-group">
        <%= f.input :title, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.input :description, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select one!") %>
    </div>
    
    <div class="form-group">
        <%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.button :submit %>
    </div>
<% end %>
</div>