<div class="center">
  <h1><%= @post.title %></h1>
  <h5><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <p><%= raw @post.body %></p>
  <%= link_to "Return to Blog", root_path %>
  <% if logged_in? %>
    <p><%= link_to "Edit", edit_post_path(@post) %></p>
    <p><%= button_to 'Delete Post', @post, method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" %></p>
  <% end %>
  <%= render 'disqus' %>
</div>