@import "bootstrap-sprockets";
@import "bootstrap";

/* Will update with customer input */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$white: #ffffff;
$light-gray: #cfcfd1;
$dark-gray: #808080;
$dark-gray-darker: #5e5f60;
$black: #000000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* universal */

body {
  padding-top: 0px;
}

/*
#home {
  background: url(ForChristian.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  }
  
#homephone {
  background: url(ForChristianPhone.jpg);
  background-repeat: no-repeat;
  }
*/

.container-center {
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  u {
    text-decoration: underline;
  }
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray-darker;
  u {
    text-decoration: underline;
  }
}

h4 {
  font-size: 1.0em;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

h5 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: center;
  font-weight: normal;
  color: $gray-light;
  u {
    text-decoration: underline;
  }
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#p-side {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  &:hover {
    color: underline;
  }
}

/* header */
.navbar {
  background-color: $white;
  background-image: none;
  background-repeat: no-repeat;
  opacity: 0.6;
 }
 
#header-side-logo {
  margin-left: 10px;
  float: right;
  line-height: 1;
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

#logo {
  float: left;
  margin-left: 30px;
  margin-right: 10px;
  font-size: 4.0em;
  color: $gray-light;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-top: 9px;
  font-weight: light;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-two {
  float: left;
  margin-left: 18px;
  margin-right: 10px;
  font-size: 2.7em;
  color: $gray-light;
  text-transform: none;
  letter-spacing: 1px;
  padding-top: 0px;
  font-weight: light;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-three {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

#logo-four {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $dark-gray;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

.navbar-nav {
    display:inline-block;
    float:none;
}

.well{
background-color: $white !important;
}

.btn {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

.btn-danger {
  background-color: $white;
  color: $light-gray
}

.btn-primary {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

/* footer(no footer) */
/*
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
*/

/* For anchoring the footer to the bottom of the page */
/*
.clearfooter {
height: 330px;
clear: both;
}
*/

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

#sidebar {
  position: fixed;
  right:0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

