<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<% @category.posts.each do |post| %>
      <h6>
        <%= post.created_at.strftime('%b %d, %Y') %></h6>
      </h6>
      <h3>
        <u><%= link_to "#{post.title}", post_path(post) %></u>
      </h3>
      <div class="center">
        <p>
          <%= truncate post.description, length: 300 %>
        </p>
      </div>

      <br>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
