<header class="navbar navbar-default navbar-static-top">
    <div class="container">
        <% if logged_in? && current_user.admin? %>
            <%= render 'layouts/logged_in_header' %>
        <% end %>
        <div class="container" id="logo">Blog</div>
        <div class="container" id="logo-two">Sample Blog</div>
    </div>
    <br>
    <div class="container-center">
        <nav>
            <ul class="nav navbar-nav">
                <li><%= link_to "Categories", categories_path, id: "logo-three" %></li>
                <li><%= link_to "Home", root_path, id: "logo-four" %></li>
                <li><%= link_to "Posts", posts_path, id: "logo-three" %></li>
            </ul>
        </nav>
    </body>
</header>