<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <%= render 'layouts/header' %>
      
  </head>
  <%= render 'layouts/sidebar' %>
    <body>
      <%= render 'layouts/application_layout' %>
    </body>
</html>
